$primary-color: #007bff;
$secondary-color: #6c757d;
$success-color: #28a745;
$error-color: #dc3545;
$black: #000;
$white: #fff;
$off-white: #ddd;
$grey: #888;
$snow: #f9f9f9;
$charcoal: #333;
$schedule-list-bck-color: #f5f5f5;
$schedule-card-bck-color: #e8f4f8;
$schedule-card-bck-color-hover:#e8f2ff;
$schedule-card-bck-color-selected:  #cfe7ff;
$schedule-card-shadow: rgba(0, 0, 0, 0.1);
$schedule-card-shadow-dark:  rgba(0, 0, 0, 0.2);
$button-bck-color:  #5ac4e1;
$button-bck-color-hover:   #0881a3;
$schedule-log-entries-background-color: #f5f5f5; 